/* Configuraciones para toda la pagina*/
* { box-sizing: border-box;}

body { 
    margin: 0; 

    background: linear-gradient(180deg, rgba(9,9,9,1) 0%, rgba(0,0,0,1) 15%, rgba(62,59,59,0.9) 100%);
    font-family: 'JetBrains Mono', monospace;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.logo-header{
    height: 150px;
    width: auto;
    margin: 0px auto;
}
header p{
    color: green;
    margin: 4px auto;
    font-size: 1.5em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encriptador{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px ;
    width: 85%;
}

.encriptador .container{
    width: 100%;
}

#Encriptador{
    background:none;
	color: chartreuse;
    border: none;
    border-radius: 15px;
    padding: 5px 8px;
    resize:none;
    width: 100%;
    box-shadow: 1px 1px 5px ;
}

#Encriptador:focus{
    transition: 400ms;
    outline: none;
    box-shadow: 1px 1px 12px ;
}

button{
    margin: 5px 0;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    height: 25px;
    font-family: 'JetBrains Mono', monospace;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 200px;
}

.encriptar{
    background-color: black;
    border: none;
    color: white;
}
.encriptar:active{
    color: chartreuse;
}
.encriptar:hover{
    transition: 400ms;
    box-shadow: 0px 0px 4px chartreuse;
}
.encriptar:active{
    color: chartreuse;
}
.desencriptar{
    background: none;
    color: white;
}
.desencriptar:active{
    font-size: 13px;
}
.desencriptar:hover{
    transition: 300ms;
    box-shadow: 0px 0px 4px white;
}
.encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 85%;
}

.encriptado .container{
    width: 100%;
}

#TxtEncriptado{
    background-color: rgb(104, 104, 104);
    border: none;
    border-radius: 15px;
    padding: 5px 8px;
    resize:none;
    box-shadow: 0px 0px 6px ;
    font-weight: bold;
    width: 100%;
}
#TxtEncriptado:focus{
    outline: none;
}

.copiar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 200px;
    background: none;
    color: white;
    border: 1px solid white;
}

.copiar:active{
    transition: 200ms;
    border: none;
    box-shadow: 0px 0px 10px white;
}



/*********/
/*Footer*/
/*******/

footer{
	text-align: center;
	background: rgb(130, 130, 130);
	padding: 0px;
}

footer .logo-footer{
    height: 150px;
    margin: -5px;
}
footer p{
    margin: 0;
    font-size: 14px;
}

.copyright{
	font-size: 14px;
	padding-bottom: 10px;
}

.git-img{
    height: 36px;
}

/*********************/
/**   RESPONSIVE   **/
/*******************/

@media (min-width: 768px){
    header .container{
        display: flex;
        flex-direction: row;
        justify-content:initial
    }
    .logo-header{
        height: 150px;
        width: auto;
        margin: 0px 20px;
        text-align: left;
    }
    header .logo{
        position:absolute; 
        width: 100%;
        text-align:center;
        font-size: 2.5em;
    }
    main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        height: 80vh;
        padding-top: 30px;
    }

    .encriptador{
        margin: 0;
        width: 50%;
        height: 100%;
    }    
    .encriptador .container{
        display: contents;
        margin: 0;
    }
    #Encriptador{
        font-size: 18px;
        height: 75%;
    }
    .encriptado{
        margin: 0;
        width: 30%;
        height: 100%;
    }
    .encriptado .container{
        display: contents;
        margin: 0;
    }
    #TxtEncriptado{
        height: 75%;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,
        url("img/Muñeco.png");
        background-position: center;
        background-repeat: no-repeat;
        font-size: 18px;
        color: yellow;
    }

    .botones{
        margin-top: 10px;
    }
    .copiar{
        margin-top: 10px ;
    }
}
